<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <title>About us</title>
</head>
<body>
<header>    
    <h2>
        About us
    </h2>
</header>

<div class="card4">
    <h3>Expertzlab</h3>
        <p>
            Expertzlabz is an IT finishing school with a difference.We train on Gen 4.0 technologies,
            which is the hottest in-demand technologies. We aim to be part of the up-skill & re-skill
            movement within the IT fraternity today.We are the cog in the wheel when it comes to the
            train the vast technical pool, on the latest Gen 4.0 technologies.
        </p>

</div>

<br><br> 
<div class="column3">
    <div class="card3">
        <h3>Vijeesh TP</h3>
            <p>
                Tutor and founder of expertzlab
            </p>
</div></div>
<br><br>    
<div class="column1">
    <div class="card1">
    <h3>Gokul Padmakumar</h3>
    <p>
        This project is prepared by
    </p>
</div></div>

<div class="column2">
    <div class="card2">
    <h3>Pathang VS</h3>
    <p>
        This project is prepared by
    </p>
</div></div>
 


</body>
</html>