<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activecourses</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/activelist.css">
</head>
<body>
<header>
    <h2>
        Active Courses List
    </h2>
</header>
<br><hr><br><br>
<div align="center">
    <form action="/home/admin" method="get">
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Duration</th>
                <th>Starting Date</th>
            </tr>
            <tr th:each="p: ${activelist}">
                <td th:text="${p.cid}"></td>
                <td th:text="${p.cname}"></td>
                <td th:text="${p.cduration}"></td>
                <td th:text="${p.csdate}"></td>
            </tr>
        </table>
        <br>
        <button class="button3">Admin Home</button></form>
</div>
</body>
</html>