<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/forgetpasswordhome.css">
    <title>Change/Forget Password</title>
</head>
<body>
    <br><br>

<div style="margin: 220px;">
    <header>
        <h2 style="font-family:'Arial Narrow';margin-left: -35px;">
            Change or Forget Password
        </h2>
    </header>
    <br>
<form action="/forgetpassword/" method="post">
    <div><label for><b>Email :</b></label>
        <input style="margin-left:5px;" type="text"  name="useremail" placeholder="Enter Email"required></div><br>
    <button class="submit" style="font-weight: bolder" formaction="/forgetpassword/">Submit</button>
</form>
</div>
<footer>
    <i  class="fa">&#xf1f9;</i>
    Copright Protected
</footer>
</body>
</html>