<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<style>
    
    </style>
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/forgetpassword.css">
    <title>Forgotpassword</title>
</head>
<body>
<br><br><br>
<header style="text-align: right;margin-right: 150px;color: white;">
    <h2 style="font-family:Arial Narrow';">Change Password</h2>
</header>
<br><br>
<form action="/user/signup" method="post">
    <div align="right" th:each="u: ${user}">
        <div><label for><b>User Name</b></label>
            <input type="text" name="username" readonly th:value="${u.username}"></div><br>
        <div><label for><b>Email</b></label>
            <input  type="text"  name="useremail"  readonly th:value="${u.useremail}"></div><br>
        <div><label for><b>Mobile Number</b></label>
            <input type="text" name="usermobile" readonly th:value="${u.usermobile}"></div><br>
        <div><label for><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="userpassword" id="txtPassword" required></div><br>
        <div><label for><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="psw-repeat" id="txtConfirmPassword" required></div><br>
        <br>
        <button class="submit" formaction="/user/signup"  type="submit" onclick=" validate(); myfunction();">Submit</button>
    </div>
</form>
<script>
function validate() {
var password = document.getElementById("txtPassword").value;
var confirmPassword = document.getElementById("txtConfirmPassword").value;
if (password != confirmPassword) {
alert("Passwords do not match.");
return false;
}
return true;
}
function myfunction()
{
alert("Changed Successfully");
}
</script>
<footer>
    <i class="fa">&#xf1f9;</i>
    Copright Protected
</footer>
</body>
</html>