<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/modifycourseadd.css">
    <title>Updatecourse</title>
</head>
<body>
<header>
<h2>
    Update Course
</h2>
</header>
<hr><br><br>
<div align="center">
<form action="/save3" method="post" th:each="p: ${course}">
        <div>&nbsp&nbsp&nbsp&nbsp&nbsp<label for><b>Course Name </b></label>
            <input type="text" name="cname" required th:value="${p.cname}"></div><br>
        <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label for><b>CourseID </b></label>
            <input  type="text"  name="cid" required th:value="${p.cid}"></div><br>
        <div><label for><b>Course Duration </b></label>
            <input type="text"  name="cduration" required th:value="${p.cduration}"></div><br>
        <div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<label for><b>Starting Date </b></label>
            <input type="text"  name="csdate" required th:value="${p.csdate}"></div><br>
        <div>&nbsp&nbsp<label for><b>Course Briefing </b></label>
             <input type="text" name="cbrief" th:value="${p.cbrief}" required></div><br>
        <div>&nbsp&nbsp&nbsp&nbsp<label for><b>Course Details </b></label>
             <input type="text" name="cdetail" th:value="${p.cdetail}" required></div><br>
    <br>
    <button class="button3" formaction="/save3" type="submit" >Modify</button>
</form>
</div>
</body>
</html>