input[type=text],input[type=password], select {
    width: 25%;
    padding: 5px;
    width: 200px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
  }

  label{
      color: white;
      font-weight: bold;
  }
  
  .submit{
display: inline-block;
padding: 5px;
width:150px;
font-size: 18px;
font-weight: bolder;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: white;
background-color: rgba(25, 105, 209, 0.87);
border: none;
border-radius: 8px;
box-shadow: 0 9px black;
margin-right: 100px;

}

.submit:hover {
  background-color: #f1cf09;
  color:black;
  }

.submit:active {
background-color: #c90606;
color: white;
box-shadow: 0 5px black;
transform: translateY(4px);
}

footer{
  color: white;
  text-align: center
}
i{font-size:18px;
}

  div {
    border-radius: 8px;      
  }
body{
background-image: url(/static/images/forgetpasswordbackground.jpeg);
background-size: cover;
background-position: right;
}