<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Activecourses</title>
<style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<header><i>
<h2>
    Active Courses List
</h2></i>
</header>
<br><hr><br><br>
<div align="center">
    <form action="/home/admin" method="get">
<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Duration</th>
        <th>Starting Date</th>
    </tr>
    <tr th:each="p: ${activelist}">
        <td th:text="${p.cid}"></td>
        <td th:text="${p.cname}"></td>
        <td th:text="${p.cduration}"></td>
        <td th:text="${p.csdate}"></td>
    </tr>
</table>
    <br>
        <button>Admin Home</button></form>
</div>
</body>
</html>