<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Userlist</title>
    <style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<header><i>
<h2>
    User List
</h2></i>
</header>
<h3>
    UserRoleID : 1-User  2-Admin
</h3>
<br><hr><br><br>
<div align="center">
    <form action="/home/admin" method="get">
<table>
    <tr>
        <th>User Role ID</th>&nbsp
        <th>User Name</th>&nbsp
        <th>User MobileNumber</th>&nbsp
        <th>User Email</th>&nbsp
        <th></th>&nbsp
        <th></th>&nbsp
    </tr>
    <tr th:each="p: ${user}">
        <td th:text="${p.uid}"></td>&nbsp
        <td th:text="${p.username}"></td>&nbsp
        <td th:text="${p.usermobile}"></td>&nbsp
        <td th:text="${p.useremail}"></td>&nbsp
        <td><a th:href="@{'/admin/activate/' +${p.useremail}}">Activate as Admin</a></td>&nbsp
        <td><a th:href="@{'/admin/deactivate/' +${p.useremail}}">Deactivate as Admin</a></td>&nbsp
    </tr>
</table>
        <br>
        <button formaction="/home/admin">Admin Home</button></form>
</div>
</body>
</html>