<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Appliedcourses</title>
    <style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<header><i>
<h2>
    Applied Courses
</h2></i>
</header>
<br><hr><br><br>
<div align="center">
    <form action="/home/admin" method="get">
    <table>
        <tr>
            <th>Sno</th>
            <th>User Name:</th>
            <th>User Email:</th>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Course Start Date</th>
            <th>Course Detail</th>
        </tr>
        <tr th:each="p: ${userdetails}">
        <td th:text="${p.sno}"></td>
        <td th:text="${p.applieduser}"></td>
        <td th:text="${p.appliedemail}"></td>
        <td th:text="${p.cid}"></td>
        <td th:text="${p.cname}"></td>
        <td th:text="${p.cdate}"></td>
        <td th:text="${p.cdetail}"></td>
        </tr>
    </table>
    <br>
        <button formaction="/home/admin">Admin Home</button></form>
</div>
</body>
</html>