<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courselist</title>
    <style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<header><i>
<h2>
    Courses List
</h2></i>
</header>
<br><hr><br><br>
<div align="center">
    <form action="/home/admin" method="get">
<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Duration</th>
        <th>Starting Date</th>
        <th>Course Status</th>
        <th>Course Breif</th>
        <th>Course Details</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    <tr th:each="p: ${course}">
        <td th:text="${p.cid}"></td>
        <td th:text="${p.cname}"></td>
        <td th:text="${p.cduration}"></td>
        <td th:text="${p.csdate}"></td>
        <td th:text="${p.cflag}"></td>
        <td th:text="${p.cbrief}"></td>
        <td th:text="${p.cdetail}"></td>
        <td ><a th:href="@{'/modify/' +${p.cid}}">Modify</a></td>
        <td ><a th:href="@{'/delete/' +${p.cid}}">Delete</a></td>
        <td ><a th:href="@{'/activate/' +${p.cid}}">Activate</a></td>
        <td ><a th:href="@{'/deactivate/' +${p.cid}}">Deactivate</a></td>
    </tr>
</table>
        <br>
        <button formaction="/home/admin">Admin Home</button></form>
</div>
</body>
</html>