<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h1>
    Applied Courses
</h1>
<table>

<tr>
    <th>Sno</th>
    <th>User Name:</th>
    <th>User Email:</th>
    <th>Course ID</th>
    <th>Course Name</th>
    <th>Course Start Date</th>
    <th>Course Detail</th>
</tr>
<tr th:each="p: ${userdetails}">
    <td th:text="${p.sno}"></td>
    <td th:text="${p.username}"></td>
    <td th:text="${p.useremail}"></td>
    <td th:text="${p.cid}"></td>
    <td th:text="${p.cname}"></td>
    <td th:text="${p.cdate}"></td>
    <td th:text="${p.cdetail}"></td>
</tr>
</table>
</body>
</html>