<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
</head>
<body>
<h1 align="center">
    Course Details
</h1>
<div style="border:2px solid black">
    <h3 align="center" >
        Course Name:
    </h3>
    <p style="margin:10px;">
        Starting Date:<br>
        Course Details:<br>
        Course Description:<br>
        <button style="margin:5px;font-size:15px" onclick="login.html"> Apply Now</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <button style="margin:5px;font-size:15px" onclick="Contact Us.html" >Enquire Now</button>

    </p>
</div>
<div style="border:2px solid black">
    <h3 align="center">
        Course Name:
    </h3>
    <p style="margin:10px">
        Starting Date:
        <br>
        Course Details:
        <br>
        Course Description:<br>
        <button style="margin:5px;font-size:15px" onclick="login.html"> Apply Now</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <button style="margin:5px;font-size:15px" onclick="Contact Us.html">Enquire Now</button>
    </p>
</div>
</body>
</html>