<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <title>Enquirydetails</title>
    <style>
        table, th, td {
border: 1px solid black;
}
    </style>
</head>
<body>
<header><h2><i>Enquiry Details</i></h2></header>
<br><hr><br><br>
<div align="center">

    <table>
        <tr>
            <th>Course ID </th>
            <th>Enquiry ID </th>
            <th>Name </th>
            <th>Mobile Number </th>
            <th>Email </th>
            <th>Qualification </th>
            <th></th>
        </tr>

        <tr th:each="e:${enquiry}">
          <td th:text="${e.courseID}"></td>
            <td th:text="${e.eid}"></td>
            <td th:text="${e.name}"></td>
            <td th:text="${e.mobilephone}"></td>
            <td th:text="${e.email}"></td>
            <td th:text="${e.qualification}"></td>
            <td><a th:href="@{'/enquiry/delete/'+${e.eid}}" onclick="myfunction()"> Delete</a></td>
        </tr>
    </table>
    <br>
    <form action="/home/admin" method="get">
        <button formaction="/home/admin">Admin Home</button></form>
</div>
<script>

function myfunction() {
  alert("Deleted Successfully");
}
</script>
</body>
</html>