<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Home</title>
</head>
<body>
<form action="/forgetpassword/" method="post">
    <br>
    <h1>
        Change your Password
    </h1>
    <hr>
    <br>
    <br>
<div>
    <div><label for><b>Email:</b></label>
        <input type="text"  name="uemail" placeholder="Enter Email"required></div><br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button formaction="/forgetpassword/">Change Password/Forget Password?</button>
</div>
</form>
</body>
</html>