<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change/Forget Password</title>
</head>
<body>
<header><i>
    <h2>
        Change Password
    </h2></i>
</header>
<br><hr><br><br>
<div align="center">
<form action="/forgetpassword/" method="post">


    <div><label for><b>Email:</b></label>
        <input type="text"  name="useremail" placeholder="Enter Email"required></div><br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button formaction="/forgetpassword/">Change Password/Forget Password?</button>

</form>
</div>
</body>
</html>