<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1 align="center">
    ExpertzLaB
</h1>
<button style="margin:20px;font-size:20px" onclick="home.html" >Home Page</button>&nbsp
<button style="margin:20px;font-size:20px" onclick="CourseDetails.html" >Course</button>&nbsp
        <button style="margin:20px;font-size:20px" onclick="home.html" >Contact Us</button>


<button  style="margin-left:1280px;font-size:20px"onclick="home.html" >Login</button>

<div style="margin:10px;border:2px solid black ">
    <h4 style="margin:3px;font-size:30px">Institution Details</h4>
    <br>
    <br>
    <p style="margin: 3px">
        We are institution based in Kochi kaloor,......................................
    </p>

</div>
<div  style="margin:10px">
  <p style="font-size:45px">Courses</p>

<div style="border:2px solid black">
    <h3 style="margin:5px">
        Big Data
    </h3>
    <p style="margin: 5px">
        Big data is course.....................
    </p>
    <button  style="margin: 5px" onclick="coursedetails.html">Course Details</button>
</div>
    <br>

<div style="border:2px solid black ">
    <h3 style="margin:5px;">
        Python
    </h3>
    <p style="margin: 5px">

    Python is course.....................
    </p>
    <button style="margin: 5px" onclick="coursedetails.html">Course Details</button>
</div>
</div>
</body>
</html>