<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Updatecourse</title>
</head>
<body>
<header><i>
<h1>
    Update Course
</h1></i>
</header>
<br><hr><br><br>
<div align="center">
<form action="/save3" method="post" th:each="p: ${course}">


        <div><label for><b>Course Name:</b></label>
            <input type="text" name="cname" required th:value="${p.cname}"></div><br>
        <div><label for><b>CourseID:</b></label>
            <input  type="text"  name="cid" required th:value="${p.cid}"></div><br>
        <div><label for><b>Course Duration</b></label>
            <input type="text"  name="cduration" required th:value="${p.cduration}"></div><br>
        <div><label for><b>Starting Date:</b></label>
            <input type="text"  name="csdate" required th:value="${p.csdate}"></div><br>
        <div><label for><b>Course Briefing:</b></label>
             <input type="text" name="cbrief" th:value="${p.cbrief}" required></div><br>
        <div><label for><b>Course Details:</b></label>
             <input type="text" name="cdetail" th:value="${p.cdetail}" required></div><br>

    <button formaction="/save3" style="margin:15px;font-size:15px" type="submit" >Modify</button>
</form>
</div>
</body>
</html>