<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
</head>
<style>
 *{
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  text-align: center;
  padding: 10px;

}

.right{
width:50%
}

.left{
width:50%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<body>
<br>
<h1 style="background-color:lightgreen;padding:20px; text-align: center">User Page</h1>
<br>
<div sec:authorize="isAuthenticated()">
    Welcome :  <span sec:authentication="name"></span></div>
<form action="/userpage" method="get">
    <form action="/course" method="get">
        <form action="/contact" method="get">
            <form action="/home/admin" method="get">
            <nav style="background-color:violet">
                <div>
                    <article>
                        <p>
                            <button formaction="/userpage" type="submit">Home</button>
                            <button formaction="/course" type="submit">Courses</button>
                            <button formaction="/contact" type="submit">Contact Us</button>
                            <button formaction="/home/admin" type="submit">Admin</button>
                        </p>
                    </article>
                </div>
            </nav>
        </form></form></form></form>
<hr>

<div class="column" >
    <h2>Courses</h2>
    <hr>
    <br><br>
    <form action="/appliedcourse" method="get">
        <form action="/course">

    <button formaction="/appliedcourse" style="margin:15px;font-size:15px">Applied Course</button>
    <button formaction="/course" type="submit" style="margin:15px;font-size:15px">Apply for New</button>
    </form> </form>

    <br>
</div>


<div class="column">
    <!--<div align="right" th:each="u:${user}">

        <input type="text" name="uname" th:value="${u.uname}" readonly>-->
        <form th:action="@{/logout}" method="post">
            <form action="/home/forgetpasswordhome" method="get">
                <button formaction="/home/forgetpasswordhome">Change password</button>
                 <!--<button formaction="/logout" style="margin:15px;font-size:15px" type="submit" >Logout</button>-->
                <button type="submit">Logout</button>
                <!--<input type="submit" value="Logout">-->
            </form></form>
    <!--</div>-->
    <br><br><br><br>
    <h2 style="text-align: center">Fee Payment</h2>
    <br>
    <button onclick=" document.location = 'home.html'" style="margin:15px;font-size:15px" type="Fee Payment" value="">Fee Payment</button>
</div>
</body>
</html>